html{
	width: 100%;
	--pri-color: lightblue;
	--sec-color: orange;
	--ter-color: blue;
	--navbar-color:black;
	--navbar-text:white;
	--navbar-hover: rgb(14, 14, 14);
	--repo-margin: 0.25em;
	font-family: "Fira Code";
}

body{
	background-color: var(--sec-color);
	display: grid;
	width: 100%;
	margin: 0;
	padding-bottom: 5em;
	grid-gap: .5em;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 20em auto auto;
	grid-template-areas: 
	"welcome welcome"
	"git git"
	"foot foot"
	;
}

.bgpoly{
	position: absolute;
	top: 0;
	display: block;
	background-color: var(--pri-color);
	z-index: -1;
	height: 80vh;
	width: 100%;
	clip-path: polygon(0 100%, 0 0, 100% 0, 100% 50%);
}

.navbar{

	position: fixed;
	overflow: hidden;
	bottom: 0;
	display: grid;
	background-color: transparent;
	width: 100%;
	height: 7vh;
	column-gap: none;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: 
	"projects prof home contact";
	
	
	.active{
		clip-path: polygon(0 0, 40% 0, 50% 10%, 60% 0, 100% 0, 100% 100%, 0 100%);
	}

	a{
		min-width: 105%;
		display: flex;
		justify-content: center;
		background-color: var(--navbar-color);
		color: var(--navbar-text);
		text-decoration: none;

		&:hover{
			background-color: var(--navbar-hover);
		}
		
		p{
			margin: auto;
		}
		
	}
	
	.home{
		grid-area: home;
	}
	.profile{
		grid-area: prof;
	}
	.projects{
		grid-area: projects;
	}
	.contact{
		grid-area: contact;
	}

}

.welcome{
	grid-area: welcome;
	text-align: center;
	margin-top: 10vh;
	margin-bottom: 10vh;
	

}

.repo.feature{
	display: none;
	grid-area: feature;
}

.github{
	grid-area: git;
	overflow-x: auto;
	overflow-y: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		display: none;
	}
	
	&::after{
		display: inline-block;
		background-color: transparent;
		flex:0 0 calc(var(--repo-margin)/2);
		content: "";
	}
	&::before{
		display: inline-block;
		background-color: transparent;
		flex:0 0 calc(var(--repo-margin)/2);
		content: "";
	}


}

.repo{

	display: block;
	background-color: var(--ter-color);
	padding: .75em;
	border-radius: 1em;
	min-width: 200px;
	margin: calc(var(--repo-margin)/2);
	
	h1{
		margin: .1em;
		margin-bottom: .3em;
		text-align: center;
	}
	
	img{
		width: 100%;
		border-radius: .5em;
	}

	p{
		text-align: justify;
		white-space: pre-wrap;
	}
}

.footer{
	grid-area: foot;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 0.75em;
}
